{% extends 'base.html' %}
{% load static %}


{% block content %}
    <body class="hold-transition sidebar-mini  layout-navbar-fixed sidebar-closed sidebar-collapse   {% if request.user.dark_mode %}dark-mode{% endif %}">
    <div class="wrapper">
        {% include 'preload.html' %}

        {% include 'personnel_navbar.html' %}

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            <i class="alert-icon fas fa-check-circle"></i>
                            <span class="alert-text">{{ message }}</span>
                        </div>
                    {% endfor %}
                    {% endif %}
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Espace scolaire</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Espace scolaire</a></li>
                            </ol>
                        </div>
                        <div class="col-lg-6 col-6">
                            <button class="btn btn-info" style="width: 50%; font-size: 15px; font-family: 'Lucida Grande', Arial, sans-serif; font-weight: bold" data-toggle="modal" data-target="#modalInscription">
                                <i class="ion ion-person-add" style="font-size: 40px"></i> Inscrire {{ annee_scolaire }}
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <section class="content">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-6" >
                            <a href="{% url 'Personnel:detatil_classe' 'TOTAL'%}">
                                <div class="small-box bg-black">
                                    <div class="inner">
                                        <h3>TOTAL PENSIONNAIRE<sup style="font-size: 20px"></sup></h3>

                                        <p style="font-size: 20px">{{ nombre_eleve }} inscrit</p>

                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{% url 'Personnel:detatil_classe' 'CP1' %}">
                                <div class="small-box text-white" style="background-color: blueviolet">
                                    <div class="inner">
                                        <h3>CP1<sup style="font-size: 20px"></sup></h3>

                                        <p>{{ nombre_eleve_cp1 }} inscrit</p>

                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{% url 'Personnel:detatil_classe' 'CP2' %}">
                                <div class="small-box bg-success text-white">
                                    <div class="inner">
                                        <h3>CP2<sup style="font-size: 20px"></sup></h3>

                                        <p>{{ nombre_eleve_cp2 }} inscrit</p>

                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-stats-bars"></i>
                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{% url 'Personnel:detatil_classe' 'CE1' %}">
                                <div class="small-box text-white" style="background-color: darkblue">
                                    <div class="inner">
                                        <h3>CE1</h3>

                                        <p>{{ nombre_eleve_ce1 }} inscrit</p>

                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{% url 'Personnel:detatil_classe' 'CE2' %}">
                                <div class="small-box bg-danger text-white">
                                    <div class="inner">
                                        <h3>CE2</h3>

                                        <p>{{ nombre_eleve_ce2 }} inscrit</p>

                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{% url 'Personnel:detatil_classe' 'CM1' %}">
                                <div class="small-box text-white" style="background-color: orange">
                                    <div class="inner">
                                        <h3>CM1</h3>

                                        <p>{{ nombre_eleve_cm1 }} inscrit</p>

                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{% url 'Personnel:detatil_classe' 'CM2' %}">
                                <div class="small-box bg-warning text-white">
                                    <div class="inner">
                                        <h3>CM2</h3>

                                        <p>{{ nombre_eleve_cm2 }} inscrit</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-6">
                            <a href="{% url 'Personnel:detatil_classe' 'COLLEGE' %}">
                                <div class="small-box text-white" style="background-color: gray">
                                    <div class="inner">
                                        <h3>COLLEGE</h3>

                                        <p>{{ nombre_eleve_college }} inscrit</p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
        </div>

        <div class="modal fade" id="modalInscription" tabindex="-1" role="dialog" aria-labelledby="modalInscriptionLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document" >
                <div class="modal-content" style="border-radius: 15px; border: 1px red">


                    <div class="modal-header">
                        <h5 class="modal-title" id="modalInscriptionLabel">Inscription d'un pensionnaire {{ annee_scolaire }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="formInscription" action="{% url 'Personnel:inscription_scolaire' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="pensionnaire">Pensionnaire</label>
                                <select class="form-control selectpicker" id="pensionnaire" name="pensionnaire_id"
                                        data-live-search="true" style="width: 100%;" required>
                                    {% for pensionnaire in pensionnaires %}
                                        <option value="{{ pensionnaire.id }}">
                                            {{ pensionnaire.nom_enfant }} {{ pensionnaire.prenom_enfant }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="classe_inscrit">Classe</label>
                                <select class="form-control" id="classe_inscrit" name="classe_name" required>
                                    <option value="CP1">CP1</option>
                                    <option value="CP2">CP2</option>
                                    <option value="CE1">CE1</option>
                                    <option value="CE2">CE2</option>
                                    <option value="CM1">CM1</option>
                                    <option value="CM2">CM2</option>
                                    <option value="6e">6e</option>
                                    <option value="5e">5e</option>
                                    <option value="5e">5e</option>
                                    <option value="3e">3e</option>
                                    <option value="2nde">2nde</option>
                                    <option value="1ere">1ere</option>
                                    <option value="Tle">Tle</option>
                                </select>
                            </div>
                            <button style="width: 100%" type="submit" class="btn btn-primary">Inscrire</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
    <style>

        .alert {
            display: flex;
            align-items: center;
            background-color: #28a745;
            color: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            animation: slideIn 0.5s ease-out, fadeOut 3s 4s forwards;
        }

        .alert-icon {
            font-size: 24px;
            margin-right: 10px;
        }

        .alert-text {
            font-size: 16px;
            font-weight: 600;
        }

        @keyframes slideIn {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: translateX(100%);
            }
        }

        .alert-success {
            background-color: #28a745;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('#pensionnaire').selectpicker();
            $('#pensionnaire').on('show.bs.select', function() {
                $.ajax({
                    url: "{% url 'Personnel:rechercher_pensionnaires' %}",
                    data: { q: '' },
                    success: function(data) {
                        $('#pensionnaire').empty();
                        data.results.forEach(function(item) {
                            $('#pensionnaire').append(new Option(item.text, item.id));
                        });
                        $('#pensionnaire').selectpicker('refresh');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.selectpicker').selectpicker();
        });
    </script>



{% endblock %}

