{% load static %}
{% load custom_filters %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> OGB</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" rel="stylesheet">

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed hold-transition sidebar-closed sidebar-collapse  {% if request.user.dark_mode %}dark-mode{% endif %}">
<div class="wrapper">
    {% include 'preload.html' %}
    {% include 'personnel_navbar.html' %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2" style="align-items: center; justify-content: center">
                    <div class="col-sm-6">
                        <h1 class="m-0">Suivi medical {{ annee_scolaire }}</h1>
                    </div>
                    <div class="col-lg-6 col-6">
                        <button class="btn btn-warning animate__animated" id="newSuiviButton"
                                style="width: 50%; font-size: 15px; font-family: 'Lucida Grande', Arial, sans-serif; font-weight: bold"
                                data-toggle="modal" data-target="#modalInscription">
                            <i class="fas fa-user-plus" style="font-size: 20px; margin-right: 5px;"></i>
                            Nouveau suivi
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form method="get" id="filterForm">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="classeFilter" class="font-weight-bold text-primary">Filtrer par Classe</label>
                                    <select id="classeFilter" name="classe" class="form-control selectpicker border-primary"
                                            data-live-search="true" title="Choisissez une classe">
                                        <option value="">Toutes les classes</option>
                                        <option value="CP1">CP1</option>
                                        <option value="CP2">CP2</option>
                                        <option value="CE1">CE1</option>
                                        <option value="CE2">CE2</option>
                                        <option value="CM1">CM1</option>
                                        <option value="CM2">CM2</option>
                                        <option value="6e">6e</option>
                                        <option value="5e">5e</option>
                                        <option value="4e">4e</option>
                                        <option value="3e">3e</option>
                                        <option value="2nde">2nde</option>
                                        <option value="1ere">1ere</option>
                                        <option value="Tle">Tle</option>
                                    </select>
                                </div>

                            </div>

                        </form>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header border-transparent">Liste des suivi

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table id="resultsTable" class="table m-0">
                                        <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Matricule</th>
                                            <th>Classe</th>
                                            <th>Trimestre 1</th>
                                            <th>Trimestre 2</th>
                                            <th>Trimestre 3</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in pensionnaires_data %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ data.pensionnaire.nom_enfant }}</td>
                                                <td>{{ data.pensionnaire.prenom_enfant }}</td>
                                                <td>{{ data.pensionnaire.matricule }}</td>
                                                <td>{{ data.pensionnaire.inscriptions.first.classe.nom_classe }}</td>
                                                {% for trimestre in trimestres %}
                                                    <td>
                                                        {% if trimestre in data.trimestres_suivis %}
                                                            {% with suivi=data.suivis|get_item:forloop.counter0 %}
                                                                <span class="badge badge-primary"> {{ suivi.taille_cm }} m; {{ suivi.poids_kg }} kg</span>

                                                            {% endwith %}
                                                        {% else %}
                                                            <span class="badge badge-secondary">Pas encore suivi</span>
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}


                                                <td>
                                                    {% if data.trimestres_suivis|length == 3 %}
                                                        <span class="badge badge-success">Suivi complet</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">En cours...</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </section>
        <div class="modal fade" id="modalInscription" tabindex="-1" role="dialog" aria-labelledby="modalInscriptionLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document" >
                <div class="modal-content" style="border-radius: 15px; border: 1px red">


                    <div class="modal-header">
                        <h5 class="modal-title" id="modalInscriptionLabel">Suivi medical {{ annee_scolaire }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="evaluationForm-" action="{% url 'Personnel:create_new_suivi' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="pensionnaire">Pensionnaire</label>
                                <select class="form-control selectpicker" id="pensionnaire" name="pensionnaires_choice_id"
                                        data-live-search="true" style="width: 100%;" required>
                                    {% for pensionnaire in pensionnaires_choice %}
                                        <option value="{{ pensionnaire.id }}" {% if pensionnaire.id == pensionnaire_selected.id %} selected {% endif %}>
                                            {{ pensionnaire.nom_enfant }} {{ pensionnaire.prenom_enfant }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="taille">Taille</label>
                                <input type="number" name="taille_cm" class="form-control" min="0" max="3" step="0.01" required placeholder="Entrer la taille">
                            </div>

                            <div class="form-group">
                                <label for="poids">Poids</label>
                                <input type="number" name="poids_kg" class="form-control" min="0" step="0.01" required placeholder="Entrer le poids">
                            </div>

                            <div class="form-group">
                                <label for="trimestre">Trimestre</label>
                                <select class="form-control" name="trimestre" style="width: 100%;" required>
                                    {% for pensionnaire_data in pensionnaires_data %}
                                        {% if pensionnaire_data.pensionnaire.id == pensionnaire_selected.id %}
                                            {% for trimestre in pensionnaire_data.trimestres_non_suivis %}
                                                <option value="{{ trimestre }}">
                                                     Trimestre {{ trimestre }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <button style="width: 100%" type="submit" class="btn btn-info">Enregistrer</button>
                        </form>



                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<style>
    #newSuiviButton:hover {
        background-color: #007bff; /* Changer la couleur au survol */
        color: white; /* Couleur du texte */
        transform: scale(1.05); /* Agrandir légèrement */
        transition: all 0.3s ease; /* Transition douce */

    #classeFilter {
        border: 2px solid #007bff; /* Bordure bleue */
        border-radius: 8px; /* Bordure arrondie */
        padding: 8px; /* Espacement interne */
        font-size: 14px; /* Taille de la police */
        color: #495057; /* Couleur de texte */
        background-color: #f8f9fa; /* Fond clair */
    }

</style>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>


<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker({
            noneSelectedText: 'Aucune classe sélectionnée',
            liveSearchPlaceholder: 'Rechercher une classe',
            size: 5
        });
    });

    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>
<script>
    document.getElementById("newSuiviButton").addEventListener("click", function() {
        const button = this;
        button.classList.add("animate__pulse"); // Animation de pulsation
        setTimeout(() => button.classList.remove("animate__pulse"), 1000); // Retirer l'animation après 1 seconde
    });

</script>
<script>
    $(document).ready(function() {
        var table = $('#resultsTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    title: 'Liste des suivis',
                }
            ],
            language: {
                "decimal": ",",
                "thousands": " ",
                "search": "Rechercher :",
                "lengthMenu": "Afficher _MENU_ entrées",
                "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                "infoFiltered": "(filtré à partir de _MAX_ entrées totales)",
                "loadingRecords": "Chargement en cours...",
                "processing": "Traitement en cours...",
                "zeroRecords": "Aucun résultat trouvé",
                "emptyTable": "Aucune donnée disponible dans le tableau",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "Précédent"
                },
                "aria": {
                    "sortAscending": ": activer pour trier la colonne par ordre croissant",
                    "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });

        // Filtrage par classe
        $('#classeFilter').on('change', function() {
            var selectedClass = $(this).val(); // Récupérer la classe sélectionnée
            if (selectedClass) {
                table.column(4).search(selectedClass).draw();
            } else {
                table.column(4).search('').draw();
            }
        });
    });
</script>


</body>
</html>
