{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body class="hold-transition login-page">
    <div class="login-box">
        <style>
            body {
                background-image: url("{% static 'img.png' %}");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .login-box {
                background-color: rgba(255, 255, 255, 0.8);
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        </style>
        <div class="card">
            <div class="login-logo">
                <a href=""><b>Connexion</b></a>
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">Connectez-vous à votre session</p>

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <strong>Compte ou mot de passe incorrecte</strong>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Identifiant" {% if form.username.value  %} value="{{ form.username.value }}" {% else %}{% endif %}>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                        </div>
                    </div>
                </form>

                <p class="mb-1">
                    <a href="{% url 'Utilisateur:reset_password_request' %}">Mot de passe oublié</a>
                </p>
            </div>
        </div>
    </div>
    </body>

{% endblock content %}
