{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OGB</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="../../">
</head>
<body class="hold-transition sidebar-mini layout-fixed  layout-navbar-fixed sidebar-closed sidebar-collapse layout-navbar-fixed {% if request.user.dark_mode %}dark-mode{% endif %}">
<div class="wrapper">
    {% include 'preload.html' %}

    {% include 'personnel_navbar.html' %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tout les details sur le pensionnaire</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">

                                <h3 class="profile-username text-center">{{ details_pensionnaires.nom_enfant }} {{ details_pensionnaires.prenom_enfant }}</h3>

                                <p class="text-muted text-center">Matricule: OGB-{{ details_pensionnaires.matricule }}</p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Date de naissance</b> <a class="float-right">{{ details_pensionnaires.date_naissance_enfant }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Lieu de naissance</b> <a data-field="lieu_naissance_enfant" contenteditable="false" class="editable  float-right">{{ details_pensionnaires.lieu_naissance_enfant }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Réligion</b> <a data-field="religion_enfant" contenteditable="false"  class="editable float-right">{{ details_pensionnaires.religion_enfant }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Nationalité</b> <a data-field="nationalite_enfant" contenteditable="false"  class="editable float-right">{{ details_pensionnaires.nationalite_enfant }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Statut</b> <a   class="editable float-right"> <span style="cursor: none" data-field="statue" contenteditable="false" class="editable btn btn-block btn-success btn-sm">{{ details_pensionnaires.statue }}</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Taille</b>
                                        <span style="display: flex; gap: 5px">
                                        <a data-field="taille" contenteditable="false"  class="float-right editable  "> {{ details_pensionnaires.taille }} </a>m
                                         </span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Poids</b>
                                         <span style="display: flex; gap: 5px">
                                        <a data-field="poids" contenteditable="false"  class="float-right editable  "> {{ details_pensionnaires.poids }} </a>Kg
                                         </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="col-md-9">
                        <table id="example1" class="table table-bordered table-striped" style="display: none">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Désignation</th>
                                <th>Valeur</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nom</td>
                                <td >{{ details_pensionnaires.nom_enfant }}</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Prénom</td>
                                <td>{{ details_pensionnaires.prenom_enfant }}</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Date de naissance</td>
                                <td>{{ details_pensionnaires.date_naissance_enfant }}</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Matricule</td>
                                <td>{{ details_pensionnaires.matricule }}</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Lieu de naissance</td>
                                <td>{{ details_pensionnaires.lieu_naissance_enfant }}</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Nationalité</td>
                                <td>{{ details_pensionnaires.nationalite_enfant }}</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Religion</td>
                                <td>{{ details_pensionnaires.religion_enfant }}</td>
                            </tr>
                            <tr class="section-header">
                                <td></td>
                                <td>Informations du Père</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>Nom</td>
                                <td>{{ details_pensionnaires.pere.nom_pere }}</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Prénom</td>
                                <td>{{ details_pensionnaires.pere.prenom_pere }}</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Date de naissance</td>
                                <td>{{ details_pensionnaires.pere.date_naissance_pere }}</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Profession</td>
                                <td>{{ details_pensionnaires.pere.profession_pere }}</td>
                            </tr>
                            <tr class="section-header">
                                <td></td>
                                <td>Informations du Père</td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>12</td>
                                <td>Nom</td>
                                <td>{{ details_pensionnaires.mere.nom }}</td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>Prénom</td>
                                <td>{{ details_pensionnaires.mere.prenom }}</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>Date de naissance</td>
                                <td>{{ details_pensionnaires.mere.date_naissance }}</td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>Profession</td>
                                <td>{{ details_pensionnaires.mere.profession }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="card">
                            <div class="card-header p-2" >
                                <ul class="nav ">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Informations</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pere-info" data-toggle="tab">Pere </a></li>
                                    <li class="nav-item"><a class="nav-link" href="#mere-info" data-toggle="tab">Mere</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#repondant-info" data-toggle="tab">Repondant</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#documents-info" data-toggle="tab">Documents</a></li>
                                    <li class="nav-item"><a class="nav-link"  data-toggle="tab"><div style="background-color: red" id="exportButtonContainer"></div></a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Suplementaire</h3>
                                            </div>
                                            <div class="card-body">
                                                <strong><i class="fas fa-book mr-1"></i> Ouverture du dossier</strong>

                                                <p class="text-muted">
                                                    Est a l'orphelinat depuis le <span style="font-weight: bold">{{ details_pensionnaires.date_ouverture_dossier }}</span>
                                                </p>

                                                <hr>

                                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Lieu d'habitation</strong>

                                                <p class="text-muted">{% if  details_pensionnaires.lieu_habitation_enfant  %} {{ details_pensionnaires.lieu_habitation_enfant }}{% else %}Non mentionné{% endif %}</p>

                                                <hr>

                                                <strong><i class="fas fa-pencil-alt mr-1"></i> Motif du deplacement</strong>

                                                <p class="text-muted">
                                                les pensionnaires est admis a l'orphelinat pour:
                                                    {% if details_pensionnaires.motif_deplacement_enfant == 'Trouble du comportement' %}
                                                        <strong> raison de troubles du comportement.</strong>
                                                    {% elif details_pensionnaires.motif_deplacement_enfant == 'Situation familiale précaire' %}
                                                        <strong> avoir vécu dans une situation familiale précaire.</strong>
                                                    {% elif details_pensionnaires.motif_deplacement_enfant == 'Echec scolaire' %}
                                                        <strong>suite à un échec scolaire.</strong>
                                                    {% elif details_pensionnaires.motif_deplacement_enfant %}
                                                        <strong> la raison suivante : {{ details_pensionnaires.motif_deplacement_enfant }}.</strong>
                                                    {% else %}
                                                        <strong> {{ details_pensionnaires.motif_deplacement_enfant }}</strong>
                                                    {% endif %}
                                                </p>

                                                <hr>

                                                <strong><i class="far fa-file-alt mr-1"></i> Responsable</strong>


                                                <p class="text-muted">Le pensionnaire loge chez:
                                                    <strong> {{ details_pensionnaires.personne_loge_enfant }}</strong>
                                                </p>
                                            <p>
                                                <button id="save-enfant-button" class="btn btn-primary" style="display: none;">Sauvegarder</button>

                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="pere-info">
                                        <input type="hidden" id="pensionnaire-id" value="{{ details_pensionnaires.id }}">

                                        <div class="card-body box-profile">
                                            <h1 class="profile-username text-center animated fadeIn" style="border: solid 2px #e7a5a5; border-radius: 10px; font-weight: bold; font-family: 'Lucida Grande', Arial, sans-serif; padding: 10px; background-color: #f9f9f9;">
                                                Le père de l'enfant
                                            </h1>

                                            <h3 class="profile-username text-center animated fadeInUp" style="font-size: 1.8rem; font-weight: bold; color: #007bff;">
                                                {{ details_pensionnaires.pere.nom_pere }} {{ details_pensionnaires.pere.prenom_pere }}
                                            </h3>

                                            <p class="text-muted text-center animated fadeInUp" style="font-size: 1rem; color: #6c757d;">
                                                Contact: +225 {{ details_pensionnaires.pere.contact_pere }}
                                            </p>

                                            <ul class="list-group list-group-unbordered mb-3">
                                                <li class="list-group-item">
                                                    <b>Date de naissance</b>
                                                    <a id="date-naissance-pere"  class="float-right">
                                                        {{ details_pensionnaires.pere.date_naissance_pere }}
                                                    </a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Lieu de naissance</b>
                                                    <a data-field="lieu_naissance_pere" contenteditable="false" class="editable float-right">{{ details_pensionnaires.pere.lieu_naissance_pere }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Profession</b>
                                                    <a data-field="profession_pere" contenteditable="false" class="editable float-right">{{ details_pensionnaires.pere.profession_pere }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Ethnie</b>
                                                    <a data-field="ethnie_pere" contenteditable="false" class="editable float-right">{{ details_pensionnaires.pere.ethnie_pere }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Religion</b>
                                                    <a data-field="religion_pere" contenteditable="false" class="editable float-right">{{ details_pensionnaires.pere.religion_pere }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Nombre de persone en charge</b>
                                                    <a data-field="nombre_personne_charge_pere" contenteditable="false" class="editable float-right">{{ details_pensionnaires.pere.nombre_personne_charge_pere }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Adresse</b>
                                                    <a data-field="adresse_pere" contenteditable="false" class="editable float-right">{{ details_pensionnaires.pere.adresse_pere }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Situation matrimoniale</b>
                                                    <a   class=" float-right">{% if details_pensionnaires.pere.en_couple_pere %} En couple{% else %} celibataire{% endif %} </a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Situation de vie</b>
                                                    <a  class=" float-right">{% if details_pensionnaires.pere.en_vie_pere %} En vie{% else %} Decede{% endif %} </a>
                                                </li>
                                            </ul>
                                            <button id="save-button" class="btn btn-primary" style="display: none;">Sauvegarder</button>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="mere-info">
                                        <div class="card-body box-profile">
                                            <h1 class="profile-username text-center animated fadeIn" style="border: solid 2px #e7a5a5; border-radius: 10px; font-weight: bold; font-family: 'Lucida Grande', Arial, sans-serif; padding: 10px; background-color: #f9f9f9;">
                                                La mère de l'enfant
                                            </h1>

                                            <h3 class="profile-username text-center animated fadeInUp" style="font-size: 1.8rem; font-weight: bold; color: #007bff;">
                                                {{ details_pensionnaires.mere.nom }} {{ details_pensionnaires.mere.prenom }}
                                            </h3>

                                            <p class="text-muted text-center animated fadeInUp" style="font-size: 1rem; color: #6c757d;">
                                                Contact: +225 {{ details_pensionnaires.mere.contact }}
                                            </p>

                                            <ul class="list-group list-group-unbordered mb-3">
                                                <li class="list-group-item">
                                                    <b>Date de naissance</b>
                                                    <a id="date-naissance-pere"  class="float-right">
                                                        {{ details_pensionnaires.mere.date_naissance }}
                                                    </a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Lieu de naissance</b>
                                                    <a data-field="lieu_naissance" contenteditable="false" class="editable float-right">{{ details_pensionnaires.mere.lieu_naissance }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Profession</b>
                                                    <a data-field="profession" contenteditable="false" class="editable float-right">{{ details_pensionnaires.mere.profession}}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Ethnie</b>
                                                    <a data-field="ethnie" contenteditable="false" class="editable float-right">{{ details_pensionnaires.mere.ethnie }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Religion</b>
                                                    <a data-field="religion" contenteditable="false" class="editable float-right">{{ details_pensionnaires.mere.religion }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Nombre de persone en charge</b>
                                                    <a data-field="nombre_personne_charge" contenteditable="false" class="editable float-right">{{ details_pensionnaires.mere.nombre_personne_charge}}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Adresse</b>
                                                    <a data-field="adresse" contenteditable="false" class="editable float-right">{{ details_pensionnaires.mere.adresse }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Situation matrimoniale</b>
                                                    <a   class=" float-right">{% if details_pensionnaires.mere.en_couple %} En couple{% else %} celibataire{% endif %} </a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Situation de vie</b>
                                                    <a  class=" float-right">{% if details_pensionnaires.mere.en_vie %} En vie{% else %} Decede{% endif %} </a>
                                                </li>
                                            </ul>
                                            <button id="save-mere-button" class="btn btn-primary" style="display: none;">Sauvegarder</button>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="repondant-info">
                                        <div class="card-body box-profile">
                                            <h1 class="profile-username text-center animated fadeIn" style="border: solid 2px #e7a5a5; border-radius: 10px; font-weight: bold; font-family: 'Lucida Grande', Arial, sans-serif; padding: 10px; background-color: #f9f9f9;">
                                                Le repondant de l'enfant
                                            </h1>

                                            <h3 class="profile-username text-center animated fadeInUp" style="font-size: 1.8rem; font-weight: bold; color: #007bff;">
                                                {{ details_pensionnaires.repondant.nom }} {{ details_pensionnaires.repondant.prenom }}
                                            </h3>

                                            <p class="text-muted text-center animated fadeInUp" style="font-size: 1rem; color: #6c757d;">
                                                Contact: +225 {{ details_pensionnaires.repondant.contact }}
                                            </p>

                                            <ul class="list-group list-group-unbordered mb-3">
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Date de naissance</b>
                                                    <a class="float-right">{{ details_pensionnaires.repondant.date_naissance }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Lieu de naissance</b>
                                                    <a class="float-right">{{ details_pensionnaires.repondant.lieu_naissance }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Profession</b>
                                                    <a class="float-right">{{ details_pensionnaires.repondant.profession }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Ethnie</b>
                                                    <a class="float-right">{{ details_pensionnaires.repondant.ethnie }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Religion</b>
                                                    <a class="float-right">{{ details_pensionnaires.repondant.religion }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Nombre de persone en charge</b>
                                                    <a class="float-right">{{ details_pensionnaires.repondant.nombre_personne_charge }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Adresse</b>
                                                    <a class="float-right">{{ details_pensionnaires.repondant.adresse }}</a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Situation matrimoniale</b>
                                                    <a class="float-right">{% if details_pensionnaires.repondant.en_couple %} En couple{% else %} celibataire{% endif %} </a>
                                                </li>
                                                <li class="list-group-item animated fadeInUp">
                                                    <b>Situation de vie</b>
                                                    <a class="float-right">{% if details_pensionnaires.repondant.en_vie %} En vie{% else %} Decede{% endif %} </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="documents-info">
                                        <div class="card-body">
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addDocumentModal">
                                                <i class="fas fa-plus"></i> Ajouter un document
                                            </button>
                                            <h5 class="mb-3">Liste des documents du pensionnaire</h5>
                                            <ul class="list-group mb-3" id="document-list">
                                                {% for dossier in dossier_pensionnaire %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        <div>
                                                            <strong>{{ dossier.description }}</strong><br>
                                                            <small>Ajouté le {{ dossier.date_ajout|date:"d M Y" }}</small>
                                                        </div>
                                                        {% if dossier.fichier.url|lower|slice:'-4:' == '.jpg' or dossier.fichier.url|lower|slice:'-4:' == '.png' %}
                                                            <img src="{{ dossier.fichier.url }}" alt="Document Image" class="img-thumbnail" style="max-width: 150px; max-height: 150px;">
                                                        {% elif dossier.fichier.url|lower|slice:'-4:' == '.pdf' %}
                                                            <a  class="btn btn-danger btn-sm" target="_blank">
                                                                <i class="fas fa-file-pdf" style="font-size: 100px"></i>
                                                            </a>
                                                        {% else %}
                                                            <span class="badge badge-secondary">Format non pris en charge</span>
                                                        {% endif %}
                                                        <a href="{{ dossier.fichier.url }}" class="btn btn-primary btn-sm" download>
                                                            <i class="fas fa-download"></i> Télécharger
                                                        </a>
                                                    </li>
                                                {% empty %}
                                                    <li class="list-group-item">Aucun document disponible.</li>
                                                {% endfor %}
                                            </ul>


                                        </div>
                                    </div>
                                    <div class="modal fade" id="addDocumentModal" tabindex="-1" role="dialog" aria-labelledby="addDocumentModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="addDocumentModalLabel">Ajouter un Document {{ details_pensionnaires }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="documentForm" method="POST" enctype="multipart/form-data" action="{% url 'Personnel:ajouter_document' details_pensionnaires.id %}">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="fichier">Sélectionner un fichier</label>
                                                            <input type="file" class="form-control-file" id="fichier" name="fichier" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="description">Description</label>
                                                            <input type="text" class="form-control" id="description" name="description" placeholder="Entrez une description du document">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer row" style="display: flex">
                                                    <button type="button" style="width: 100%" class="btn col btn-secondary" data-dismiss="modal">Fermer</button>
                                                    <button type="submit" style="width: 100%" form="documentForm" class="btn col btn-primary">
                                                        <i class="fas fa-upload"></i> Enregistrer
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="custom-alert" class="custom-alert">
            <div class="alert-content">
                <span id="alert-message"></span>
                <button id="close-alert" class="close-alert">Fermer</button>
            </div>
        </div>

    </div>
    <style>
        .custom-alert {
            display: none;  /* Par défaut, l'alerte est cachée */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            width: 80%;
            max-width: 400px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        .alert-content {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
        }

        #alert-message {
            font-size: 1.2rem;
            font-weight: bold;
            color: #333;
        }

        .close-alert {
            background-color: #007bff;
            color: white;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .close-alert:hover {
            background-color: #0056b3;
        }

        .editable {
            cursor: pointer;
            transition: background-color 0.3s, border 0.3s;
        }

        .editable.editing {
            background-color: #e6f7ff;
            border: 1px solid #007bff;
            border-radius: 5px;
            padding: 5px;
            font-style: italic;
            outline: none;
            width: 100px;
        }

        .editable:focus {
            outline: none;
        }

        .img-thumbnail {
            border: 2px solid #ddd;
            border-radius: 5px;
            padding: 5px;
            background-color: #f9f9f9;
        }

        .btn-danger {
            color: #fff;
            background-color: #dc3545;
            border: none;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border: none;
        }

        .list-group-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table th, table td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        table .section-header {
            background-color: #f2f2f2;
            font-weight: bold;
        }
        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .fadeInUp {
            animation: fadeInUp 0.5s ease-in-out;
        }

        .fadeIn {
            animation: fadeIn 0.5s ease-in-out;
        }

        .list-group-item:hover {
            transition: background-color 0.3s ease;
        }

        .profile-username {
            font-size: 2rem;
            font-weight: 600;
        }

z        .btn-success {
            transition: background-color 0.3s ease;
        }

        .btn-success:hover {
            background-color: #28a745;
            border-color: #28a745;
        }

        .list-group-item {
            padding: 15px;
            font-size: 1rem;
            color: #333;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .list-group-item:hover {
            background-color: #f1f1f1;
            transform: translateX(10px);
        }
    </style>
</div>
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>

<script>
    $(function () {
        var table = $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "searching": false,
            "paging": false,
            "info": false,
            "buttons": [
                {
                    extend: "pdf",
                    text: "Exporter en PDF",
                    customize: function (doc) {
                        // Personnalisation du PDF
                        doc.content.splice(0, 1);
                        doc.content.unshift({
                            text: 'Détails du Pensionnaire',
                            fontSize: 18,
                            bold: true,
                            alignment: 'center',
                            margin: [0, 0, 0, 10]
                        });
                        doc.content[1].table.widths = ['33%', '33%', '33%'];
                    }
                }
            ]
        });

        table.buttons().container().appendTo('#exportButtonContainer');
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const saveButton = document.getElementById('save-button');
        let currentEditable = null;
        document.querySelectorAll('.editable').forEach((element) => {
            if (element.getAttribute('data-field') === 'nombre_personne_charge_pere') {
                element.addEventListener('input', (e) => {
                    // Supprimer les chiffres si l'utilisateur en saisit
                    e.target.textContent = e.target.textContent.replace(/[^0-9]/g, '');
                });
            }
            element.addEventListener('click', () => {
                if (currentEditable) currentEditable.classList.remove('editing');
                element.classList.add('editing');
                element.setAttribute('contenteditable', 'true');
                currentEditable = element;
                saveButton.style.display = 'inline-block';
            });
        });
        function showAlert(message) {
            const alertModal = document.getElementById('custom-alert');
            const alertMessage = document.getElementById('alert-message');
            const closeButton = document.getElementById('close-alert');

            alertMessage.textContent = message;
            alertModal.style.display = 'block';

            closeButton.addEventListener('click', () => {
                alertModal.style.display = 'none';
            });
        }
        saveButton.addEventListener('click', () => {
            const updates = {};
            document.querySelectorAll('.editable').forEach((element) => {
                const field = element.getAttribute('data-field');
                let value = element.textContent.trim();
                if (field === 'en_vie_pere' || field === 'en_couple_pere') {
                    value = value === "En vie" || value === "En couple" ? true : false;
                }

                updates[field] = value;
            });
            updates['pensionnaire_id'] = document.getElementById('pensionnaire-id').value;

            fetch('{% url "Personnel:update_pere_info" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify(updates),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        showAlert('Informations mises à jour avec succès');
                        saveButton.style.display = 'none';
                        document.querySelectorAll('.editable').forEach((element) => {
                            element.classList.remove('editing');
                            element.removeAttribute('contenteditable');
                        });
                    } else {
                        alert(`Erreur : ${data.error}`);
                    }
                })
                .catch((error) => {
                    alert('Erreur de communication avec le serveur');
                    console.error(error);
                });
        });
        document.addEventListener('click', (e) => {
            if (currentEditable && !e.target.classList.contains('editable') && e.target !== saveButton) {
                currentEditable.classList.remove('editing');
                currentEditable.removeAttribute('contenteditable');
                currentEditable = null;
            }
        });
    });

</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const saveButton = document.getElementById('save-mere-button');
        let currentEditable = null;

        document.querySelectorAll('.editable').forEach((element) => {
            // Ajout de la validation pour "nombre_personne_charge"
            if (element.getAttribute('data-field') === 'nombre_personne_charge') {
                element.addEventListener('input', (e) => {
                    // Supprimer les chiffres si l'utilisateur en saisit
                    e.target.textContent = e.target.textContent.replace(/[^0-9]/g, '');
                });
            }

            element.addEventListener('click', () => {
                if (currentEditable) currentEditable.classList.remove('editing');
                element.classList.add('editing');
                element.setAttribute('contenteditable', 'true');
                currentEditable = element;
                saveButton.style.display = 'inline-block';
            });
        });

        function showAlert(message) {
            const alertModal = document.getElementById('custom-alert');
            const alertMessage = document.getElementById('alert-message');
            const closeButton = document.getElementById('close-alert');

            alertMessage.textContent = message;
            alertModal.style.display = 'block';

            closeButton.addEventListener('click', () => {
                alertModal.style.display = 'none';
            });
        }

        saveButton.addEventListener('click', () => {
            const updates = {};
            document.querySelectorAll('.editable').forEach((element) => {
                const field = element.getAttribute('data-field');
                let value = element.textContent.trim();
                if (field === 'en_vie' || field === 'en_couple') {
                    value = value === "En vie" || value === "En couple" ? true : false;
                }

                updates[field] = value;
            });
            updates['pensionnaire_id'] = document.getElementById('pensionnaire-id').value;

            fetch('{% url "Personnel:update_mere_info" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify(updates),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        showAlert('Informations mises à jour avec succès');
                        saveButton.style.display = 'none';
                        document.querySelectorAll('.editable').forEach((element) => {
                            element.classList.remove('editing');
                            element.removeAttribute('contenteditable');
                        });
                    } else {
                        alert(`Erreur : ${data.error}`);
                    }
                })
                .catch((error) => {
                    alert('Erreur de communication avec le serveur');
                    console.error(error);
                });
        });

        document.addEventListener('click', (e) => {
            if (currentEditable && !e.target.classList.contains('editable') && e.target !== saveButton) {
                currentEditable.classList.remove('editing');
                currentEditable.removeAttribute('contenteditable');
                currentEditable = null;
            }
        });
    });


</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const saveButton = document.getElementById('save-enfant-button');
        let currentEditable = null;

        document.querySelectorAll('.editable').forEach((element) => {
            if (element.getAttribute('data-field') === 'poids') {
                element.addEventListener('input', (e) => {
                    let value = e.target.textContent.replace(/[^0-9.]/g, '');
                    if (!/^\d*(\.\d{0,200})?$/.test(value)) {
                        value = value.slice(0, -1);
                    }
                    if (parseFloat(value) > 200) {
                        value = '200';
                    }

                    e.target.textContent = value;
                });
            }
            if (element.getAttribute('data-field') === 'taille') {
                element.addEventListener('input', (e) => {
                    let value = e.target.textContent.replace(/[^0-9.]/g, '');

                    if (!/^\d*(\.\d{0,2})?$/.test(value)) {
                        value = value.slice(0, -1);
                    }
                    if (parseFloat(value) > 3) {
                        value = '3';
                    }
                    e.target.textContent = value;
                });
            }

            element.addEventListener('click', () => {
                if (currentEditable) currentEditable.classList.remove('editing');
                element.classList.add('editing');
                element.setAttribute('contenteditable', 'true');
                currentEditable = element;
                saveButton.style.display = 'inline-block';
            });
        });

        function showAlert(message) {
            const alertModal = document.getElementById('custom-alert');
            const alertMessage = document.getElementById('alert-message');
            const closeButton = document.getElementById('close-alert');

            alertMessage.textContent = message;
            alertModal.style.display = 'block';

            closeButton.addEventListener('click', () => {
                alertModal.style.display = 'none';
            });
        }

        saveButton.addEventListener('click', () => {
            const updates = {};
            document.querySelectorAll('.editable').forEach((element) => {
                const field = element.getAttribute('data-field');
                let value = element.textContent.trim();

                updates[field] = value;
            });
            updates['pensionnaire_id'] = document.getElementById('pensionnaire-id').value;

            fetch('{% url "Personnel:update_enfant_info" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify(updates),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        showAlert('Informations mises à jour avec succès');
                        saveButton.style.display = 'none';
                        document.querySelectorAll('.editable').forEach((element) => {
                            element.classList.remove('editing');
                            element.removeAttribute('contenteditable');
                        });
                    } else {
                        alert(`Erreur : ${data.error}`);
                    }
                })
                .catch((error) => {
                    alert('Erreur de communication avec le serveur');
                    console.error(error);
                });
        });

        document.addEventListener('click', (e) => {
            if (currentEditable && !e.target.classList.contains('editable') && e.target !== saveButton) {
                currentEditable.classList.remove('editing');
                currentEditable.removeAttribute('contenteditable');
                currentEditable = null;
            }
        });
    });


</script>

</body>
</html>
